.pokemon-list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.pokemon-button {
  color: black;
  padding: 15px;
  margin: 15px;
  width: 150px;
}

h1 {
  text-align: center;
  font-size: 48px;
}

.hidden{
  display: none;
}

#modal-container {
  display: none;
}

#modal-container.is-visible {
  display: block;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  /*Above other content*/
  z-index: 999;

  /*Scrolling if window too small*/
  overflow: auto;

  /*Center*/
  display: grid;
  text-align: center;
}

.modal {
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  background: #fff;
  padding: 15px;
  width: 100%;
  max-width: 700px;
  text-align: left;
}

.modal-close {
float: right;
-webkit-appearance: none;
border: 0;
background: none;
color: #777;
text-decoration: underline;
}

.pokemon-img {
  display:block;
  margin-left:auto;
  margin-right:auto;
  width:25%;
}

.center {
  text-align: center;
}

@media all and (max-width: 500px) {
  .pokemon-list {
    grid-template-columns: 1fr;
  }
}
@media all and (min-width: 500px) and (max-width: 750px){
  .pokemon-list {
    grid-template-columns: 1fr 1fr;
  }
}
@media all and (max-width: 750px) {
  .pokemon-list {
    grid-gap: 10px;
  }
  .pokemon-button:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
}
